section.page.about
    .page__wrap
        .page__content
            .container
                .row
                    .col-11.col-lg-6.offset-lg-3.col-xl-5.offset-xl-1.col-xxxl-4
                        .about__desc
                            h2#aboutTitle.title
                            ul#aboutSkills.list
                            p#aboutMessage.text

                    .col-xl-4.offset-xl-1.d-none.d-xl-block
                        #aboutPhoto.about__photo