.blocker
    .blocker__content
        .blocker__pic
        .blocker__desc
            h3 Hi, please flip the screen
            p To view the entire collection in the format that the artist intended, please flip the screen or change the browser settings to horizontal orientation