footer.footer
    .container
        .row
            .col-12.col-lg-10.offset-lg-1
                .portfolio__scrollbar
                    .swiper-scrollbar
    .container
        .footer__body
            p.footer__copy © 2024 by Romario Agaev
