header.header
    .container
        .header__body
            nav.nav
                ul.nav__list
                    li.nav__item.active
                        button(type="button" data-target="portfolio") Portfolio
                    li.nav__item
                        button(type="button" data-target="about") About
                    li.nav__item
                        button(type="button" data-target="contact") Contact
