section.page.portfolio
	.page__wrap
		.page__content
			.container
				.row
					.col-12.col-lg-10.offset-lg-1
						.portfolio__content
							.portfolio__title Recent Work

				.portfolio__slider
					.swiper
						#portfolio.swiper-wrapper