@import 'scss-vars';

body.isBlocked {
    overflow: hidden;
    transition: none !important;
    animation: none !important;

    *:not(.blocker__pic):not(.loading):not(.loading__back):not(.loading__body) {
        transition: none !important;
        animation: none !important;
    }

    .blocker {
        display: flex !important;
    }
}

.blocker {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(37.5px);

    background: var(--color-back-prime) no-repeat center;
    background-image: var(--back-img);
    background-size: cover;
    background-attachment: fixed;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width: 90%;
        max-width: 520px;
        margin-top: -86px;

        @media (min-width: $md) {
            flex-direction: row;
            gap: 48px;
            margin-top: 0;
        }
    }

    &__pic {
        display: block;
        position: relative;
        width: 104px;
        height: 104px;
        flex-shrink: 0;
        background: transparent no-repeat center;
        background-size: cover;
        background-image: var(--rotation-icon);
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-left: 3px;

        @media (min-width: $md) {
            align-items: flex-start;
            gap: 13px;
            padding-left: 0;
        }

        h3 {
            display: block;
            position: relative;
            width: 100%;
            max-width: 243px;
            height: auto;
            margin: 0;
            padding: 0;
            color: var(--color-primary);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: initial;

            @media (min-width: $md) {
                max-width: none;
                font-size: 34px;
                line-height: 48px; /* 141.176% */
            }
        }

        p {
            display: block;
            position: relative;
            width: 100%;
            max-width: 243px;
            height: auto;
            margin: 0;
            padding: 0;
            color: var(--color-primary);
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 150% */

            @media (min-width: $md) {
                max-width: none;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}
